<div class="form-group login-method">
    <p>
      Please Choose a Login Method
    </p>
    <a class="btn btn-block btn-social btn-twitter" onclick="loginform('.teacher-form')">
      <span class="fa fa-briefcase"></span> Sign in as a teacher
    </a>
    
    <a class="btn btn-block btn-social btn-google" onclick="loginform('.participant-form')">
      <span class="fa fa-book"></span> Sign in as a participant
    </a>
</div>

<%= render 'teacher_form' %>

<%= render 'participant_form' %>
