<h1 class="page-header">Participant Detail</h1>
<p>
  <strong>Name:</strong>
  <%= @participant.name %>
</p>

<p>
  <strong>Code:</strong>
  <code><%= @participant.code %></code>
</p>

<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
