<h1 class="page-header">
	Editing User
	<%= link_to 'Show', @user, class:"btn btn-default pull-right" %>
	<%= link_to 'Back', users_path, class:"btn btn-warning pull-right" %>
</h1>

<%= render 'form' %>


