    <div class="collapse navbar-collapse navbar-ex1-collapse ">
      <ul class="nav navbar-nav navbar-right navbar-user">
        <li><%= link_to "Dashboard", root_path%></li>
        <li>
          <%= link_to questions_path do %>
            Questions
          <% end %>
        </li>
        <li>
          <%= link_to participants_path do %>
            Participants
          <% end %>
        </li>
        <li>
          <%= link_to users_path do %>
            Teachers
          <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->