<h1 class="page-header">Dashboard <small>QuizMaster</small></h1>
<div class="row">
	<div class="col-sm-3">
		<%= react_component 'StatsElement', icon: 'comment', count: Question.count, text:'Total question' %>
	</div>
	<div class="col-sm-3">
		<%= react_component 'StatsElement', icon: 'comments', count: Participant.count, text:'Total participant' %>
	</div>
	<div class="col-sm-3">
		<%= react_component 'StatsElement', icon: 'send', count: Participant.taken, text:'Total finished quiz' %>
	</div>
	<div class="col-sm-3">
		<%= react_component 'StatsElement', icon: 'headphones', count: Participant.not_taken, text:'Total unfinished quiz' %>
	</div>
</div>

	