<div class="widget">
  <h3 class="page-header">Description Sign</h3>
  <ul class="nomargin">
    <li>
      <button class="btn btn-xs btn-info">-  </button> : current question
    </li>
    <li>
      <button class="btn btn-xs btn-default">-  </button> : blank answer
    </li>
    <li>
      <button class="btn btn-xs btn-success">-  </button> : answered question
    </li>
    <li>
      <button class="btn btn-xs btn-warning">-  </button> : doubt answer
    </li>
  </ul>

  <p>Click the last number to submit Quiz!</p>
</div>

