<div class="row">
  <div class="col-sm-9">
    <div class="exam-question">
      <%= render 'exams/form' %>
      <hr>
      <%= react_component 'ExamForm', exam_id: @exam.id,exam_number: @participant.nomor_soal(@exam.id) %>
    </div>
  </div>

  <aside class="col-sm-3">
    <%= render 'exams/aside_exam' %>
  </aside>
</div>