data = "div class=\"row\"><section class=\"col-sm-9\"><div class=\"exam-question\"><%=j render 'form' %></div></section><aside class=\"col-sm-3\"><%=j render 'aside_exam' %></aside></div>";

$('.pre-exam').html(data);